html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

select[multiple], select[size] {
    height: 300px;
    font-size: 16px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

select[multiple] option {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 10px 5px;
    cursor: pointer;
}

select[multiple] option:hover {
    background: rgba(0, 0, 0, .04);
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#create-film {
    border-bottom: 1px solid #3c8dbc;
}

.add-staff {
    width: 100%;
    margin-bottom: 30px;
}

.staff-select {
    width: 100%;
}

.staff-role {
    width: 100%;
    vertical-align: top;
}

.preview {
    position: relative;
    height: auto;
    width: 400px;
    left: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: none;
    border-radius: 5px;
}

#image_upload_preview {
    height: 100%;
    width: 100%;
}

.add {
    float: left;
    margin-right: 15px;
}

.stats {
    display: flex;
}

.stat_user, .stat_film, .stat_seanse {
    height: 130px;
    width: 320px;
    background: #fff;
    position: relative;
    margin-right: 20px;
}

.user_icon, .film_icon, .seance_icon {
    background: #00c0ef;
    height: 130px;
    width: 130px;
    display: inline-block;
    text-align: center;
}

.film_icon {
    background: #27ae60;
}

.seance_icon {
    background: #e74c3c;
}

.user_icon i, .film_icon i, .seance_icon i {
    font-size: 60px;
    color: #fff;
    line-height: 130px;
}

.stat_description {
    display: inline-block;
    width: 49%;
    text-align: left;
    padding: 15px;
    vertical-align: top;
}

.stat_description p {
    font-size: 14px;
}

.cache {
    padding: 10px 70px;
    text-align: center;
    background: #e74c3c;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    transition: .4s all;
}

.cache:hover {
    color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.43);
}
.main-header .sidebar-toggle:before {
    opacity: 0;
}
