.site-about__title {
    padding-top: 20px;
    font-size: 16px;
    color: #343a40;
    display: block;
}

.site-about__view {
    padding-top: 20px;
}

.site-about__view img {
    max-width: 100%;
}

footer {
    max-width: 100%;
    height: 70px;
}

.review {
    position: relative;
}

.review__title {
    font-size: 20px;
    padding-bottom: 5px;
}

.review__rating, .review__film {
    position: absolute;
    right: 15px;
    top: 15px;
}

.review__film {
    right: 50px;
}

.review__delete {
    position: absolute;
    left: -30px;
    top: 5px;
}

.review__delete a {
    font-size: 16px;
}

.films {
    display: flex;
    justify-content: left;
}

.film, .seance-item, .tickets {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    transition: 0.4s all;
    margin-right: 45px;
    cursor: pointer;
}

.seance-item, .tickets {
    width: 235px;
    height: 395px;
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.film:hover, .seance-item:hover {
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.3);
}

.film__title, .film__staff-position, .seance-item__title, .tickets-item__title {
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.film__title a {
    font-size: 14px;
}

.film__staff-position {
    font-size: 15px;
}

.film__img img, .seance-item__film__img img, .tickets-item__film__img img {
    width: 250px;
    height: 350px;
}

.actor {
    padding: 15px;
    border: 1px solid #eeeeee;
}

.badge {
    background: #007bff;
}

.schedule__item {
    width: 90px;
    margin: 10px;
    border-bottom: 1px solid #007bff;
}

.schedule, .ticket-info {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 90%;
    transition: 0.4s all;
    background: rgba(0, 0, 0, 0.6);
}

.seance-item:hover .schedule, .tickets:hover .ticket-info {
    top: 45px;
}

.r-color {
    background: #e74c3c;
}

.g-color {
    background: #28a745;
}

.rules {
    float: right;
}

.ticket-info__price,
.ticket-info__place,
.ticket-info__hall,
.ticket-info__row {
    color: #fff;
    padding: 20px 0 0 10px;
    font-size: 16px;
}

.ticket-info__place {
    padding-top: 5px;
}

.ticket-info__place span {
    display: block;
    width: 40px;
    margin-bottom: 5px;
}

.ticket-control {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.ticket-control__price {
    padding-left: 10px;
}

.ticket-control__price, .ticket-control__number-reservation {
    display: inline-block;
    line-height: 55px;
}

.ticket-close__reservation {
    position: absolute;
    bottom: 7px;
    right: 15px;
    font-size: 18px;
    color: #fff;
}

.weather_widget {
    border-left: 1px solid #eeeeee;
}

#sidebar {
    width: 300px;
    top: 51px;
    padding: 20px;
    right: 0;
    z-index: 999;
    border-left: 1px solid #eeeeee;
}
