.film_info {
    float: left;
    word-wrap:break-word;
}

.film_img {
    float: left;
    width: 160px;
    height: 240px;
    margin: 0 10px 0 0;
}
.left{
    float: left;
}
.menu{
    margin-bottom: 10px;
}
